* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

/* ---- components ---- */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100vh;
}
main h1 {
  margin-bottom: 100px;
}
main button {
  width: 200px;
  padding: 15px;
  align-self: center;
  cursor: pointer;
  outline: none;
  /* border: 3px solid #00252b; */
  border: none;
  border-radius: 15px;
  background-color: #00343c;
  opacity: 0.85;
  transition: 0.1s;
  font-size: 25px;
  font-weight: bold;
  color: white;
  box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
}
main button:hover {
  box-shadow: none;
  background-color: #00252b;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
  /* border: 5px solid #000080bd;
  color: #000080bd; */
}
form {
  margin-bottom: 55px;
}

.container {
  margin: 0 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 860px;
    margin: 0 auto;
  }
}

.game {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* margin-top: 50px; */
}

.game header {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  align-items: center;
}

.game .lives {
  flex: 1;
}

.game .score {
  flex: 1;
}

.game .label {
  font-weight: bold;
}

.game .value {
  font-style: italic;
}

.score-container{
  padding: 10px;
  text-align: left;
  position: relative;
  background-color: #00343c;
  opacity: 0.8;
  color: white;
}
.score-team {
  font-weight: bold;
}
.game-name {
  position: absolute;
  right: 0;
  padding-right: 10px;
}

.canvas-container {
  height: 600px;
}
canvas {
  background-image: url(../images/rugby_pitch.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  flex: 1;
}
h2 {
  margin-bottom: 70px;
color: white;
}

.img-splash {
  width: 800px;
  align-self: center;
}
.img-game {
  position: absolute;
  width: 150px;
  top: 2%;
  left: 638px;
  align-self: center;
}
.final-score {
  width: 250px;
  text-align: center;
  align-self: center;
  margin-bottom: 50px;
}