* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}

body {
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Titillium Web', sans-serif;
}

button {
  letter-spacing: 2px;
}

.instructions {
  position: absolute;
  padding: 40px;
  opacity: 0.95;
  background-color: #042436;
  color: #f5f5f5;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.visible {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.not-visible {
  display: none;
}
.close-btn {
  position: absolute;
  top: 80px;
  right: 80px;
  border: none;
  outline: none;
  cursor: none;
  background: transparent;
}
.close-img {
  width: 40px;
  cursor: pointer;
}
.instructions h1 {
  align-self: center;
}
article {
  width: 305px;
  margin-top: 40px;
}
.instructions h2 {
  align-self: flex-start;
  color: #ff8a00;
  margin-bottom: 20px;
}
.instructions__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 0;
  width: 45%;
  border: 1px solid #f5f5f5;
  border-radius: 5px;
}
.instructions__instruction {
  display: flex;
  flex-direction: row;
  width: 300px;
  margin-bottom: 20px;
}
.instructions__instruction:last-child {
  margin-bottom: 0;
}
.instructions__instruction p {
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.key-span {
  width: 15%;
}
.arrow-keys {
  width: 50px;
}
.key-1 {
  width: 25px;
  border-radius: 5px;
}
.key-2 {
  width: 42px;
  border-radius: 5px;
}
.rules ul {
  margin-left: 35px;
}
.rules ul li {
  padding: 10px 0;
}
.limited-kicks {
  padding-bottom: 8px;
  color: #b5b5b5;
  font-weight: 100;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100vh;
  width: 100%;
}
main h1 {
  margin-bottom: 100px;
}
.instructions-btn {
  outline: none;
  background: transparent;
  padding-bottom: 10px;
  border: none;
  width: 150px;
  align-self: center;
  transition: 0.3s;

}
.instructions-btn:hover {
  font-weight: bold;
}
.instructions-btn-text{
  font-size: 16px;
  color: #042436;
  cursor: pointer;
  letter-spacing: 3px;
}
.play-btn {
  width: 200px;
  padding: 15px;
  align-self: center;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #00343c;
  opacity: 0.85;
  transition: 0.1s;
  font-size: 25px;
  font-weight: bold;
  color: white;
  box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
}
.play-btn:hover {
  box-shadow: none;
  background-color: #00252b;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}
form {
  width: 350px;
  margin-bottom: 35px;
  align-self: center;
}
.selector-title {
  display: flex;
  width: 350px;
  align-self: center;
  justify-content: space-between;
  padding: 0 28px 0 24px;
  margin-bottom: 5px;
  box-sizing: border-box;
  font-weight: 600;
  color: white;
}
form select {
  width: 102px;
  height: 30px;
  background-color: #042436;
  color: white;
  font-weight: bold;
  border: 2px solid white;
}
select:nth-of-type(2) {
  margin: 0 10px;
}

.img-splash {
  width: 800px;
  align-self: center;
}

.container {
  margin: 0 20px;
}
@media (min-width: 768px) {
  .container {
    max-width: 860px;
    margin: 0 auto;
  }
}

.game {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.game header {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  align-items: center;
}
.game .lives {
  flex: 1;
}
.game .score {
  flex: 1;
}
.game .label {
  font-weight: bold;
}
.game .value {
  font-style: italic;
}

.score-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  text-align: left;
  position: relative;
  background-color: #00343c;
  opacity: 0.9;
  color: white;
}
.score-team {
  font-weight: bold;
  display: flex;
  align-items: center;
}
.score-local, .score-visitant {
  width: 20px;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.game-logo-container {
  margin-top: -100px;
  margin-left: -15px;
  z-index: 2;
}
.game-logo {
  width: 150px;
}
#player-country {
  width: 22px;
  margin-right: 7px;
}
#machine-country {
  width: 22px;
  margin-left: 7px;
}
.score-diff-level {
  position: absolute;
  right: 90px;
}
.score-kicks {
  position: absolute;
  right: 20px;
}

.canvas-container {
  height: 600px;
}
canvas {
  background-image: url('../images/rugby_pitch.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  flex: 1;
}

.game-over .game-logo-container {
  position: absolute;
  align-self: center;
  margin-top: -310px;
  margin-left: 0;
}
.game-over  .game-logo {
  width: 250px;
}

.results-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  padding: 60px 0;
  background-color: #00343c;
  opacity: 0.85;
  color: white;
  margin-top: 50px;
}
h2 {
  margin-bottom: 40px;
  color: white;
  align-self: flex-start;
}
.results-container .score-container {
  justify-content: center;
  opacity: 1;
  font-size: 35px;
  border-bottom: 2px solid white;
  padding-bottom: 30px;
}
.final-score {
  text-align: center;
  align-self: center;
}
.results-container #player-country {
  width: 30px;
  margin-right: 12px;
}
.results-container #machine-country {
  width: 30px;
  margin-left: 12px;
}
.results-container .score-local, .results-container .score-visitant {
  width: 65px;
}
.classification-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 400px;
  margin-top: 50px; 
}
.classification-container h2 {
  margin: 0 0 15px 15px;
}
.reset-btn {
  justify-self: flex-end;
  background-color: white;
  color: #00343c;
  border: none;
  padding: 5px;
  width: 135px;
  margin: 0 15px 15px 0;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}
.reset-btn:hover {
  font-weight: bold;
}
table {
  width: 100%;
  border: 1px solid white;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.25);
}
tbody > tr {
  height: 30px;
}
th {
  border-bottom: 1px solid white;
  padding: 0 10px;
}
td {
  padding: 4px 0;
}

.play-again {
  width: 260px;
}

